

<div local-class="surveyBG"></div>
<div local-class="surveyCompMain">
  {{#with activeSurvey as |sv|}}
  <div local-class="surveyHead">
    <h1>
      {{sv.title}}
    </h1>

    <div local-class="surveyBody">
      {{#each sv.items as |svItem svItemIndex|}}
      <div local-class="surveyItem" data-desc={{svItem.desc}}>
        <div local-class="desc">
          {{add 1 svItemIndex}}、{{{svItem.desc}}}
        </div>
        {{#if (eq svItem.type "group")}}
          {{#each svItem.items as |subItem subIndex|}}
            <div local-class="subItem" data-desc={{subItem.desc}}>
            <div local-class="desc">
              {{add 1 svItemIndex}}.{{add 1 subIndex}} {{{subItem.desc}}}
            </div>
            <ul local-class="surveyOpts" class="clearfix">
              {{#each subItem.opts as |opt optIndex|}}
                <li local-class="surveyOpt {{if (gte subItem.opts.length 5) 'largeOpts'}}">
                  <label for={{subItem.desc}}>
                    {{i-check type=subItem.type name=subItem.desc checked=opt.isChecked value=opt.optText elementId=(concat 'i-check' svItem.type subIndex optIndex)}} {{opt.optText}}
                  </label>
                </li>
              {{/each}}
            </ul>
            </div>
          {{/each}}
        {{else}}
          <ul local-class="surveyOpts" class="clearfix">
            {{#each svItem.opts as |opt optIndex|}}
              <li local-class="surveyOpt {{if (gte svItem.opts.length 5) 'largeOpts'}}">
                <label for={{svItem.desc}}>
                  {{i-check type=svItem.type name=svItem.desc checked=opt.isChecked value=opt.optText elementId=(concat 'i-check' svItem.type svItemIndex optIndex)}} {{opt.optText}}
                </label>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
  {{/with}}
  <div local-class="surveyFooter">
    <button type="submit" disabled={{disableConfirm}} class="btn btn-primary" {{action "submitSurvey" s}}>submit</button>
  </div>
</div>


{{#if (eq s 1)}}
  <div local-class="investigateInfo">
    {{investigateInfo}}
  </div>
{{/if}}

{{#if showNextPageDialog}}
  {{#common-dialog title="Tip" onClickOverlay=(action (mut showNextPageDialog) (not showNextPageDialog)) as |d|}}
    {{#d.body class="text-center"}}
      Next page?
    {{/d.body}}
    {{#d.footer local-class="confirmFooter"}}
      <button class="btn btn-primary" disabled={{disableConfirm}} {{action "nextPageDialogConfirm" activeGoodsNumber}}>Confirm</button>
      <button class="btn" {{action (mut showNextPageDialog) (not showNextPageDialog)}}>Cancel</button>
    {{/d.footer}}
  {{/common-dialog}}
{{/if}}

{{#if showRedirectConfirm}}
{{#common-dialog title="Tip" onClickOverlay=(action (mut showRedirectConfirm) (not showRedirectConfirm)) as |d|}}
  {{#d.body class="text-center"}}
    The current experiment number is {{formattedInvestigateCount}}，Whether to conduct the investigate into the next one？
  {{/d.body}}
  {{#d.footer local-class="confirmFooter"}}
    <button class="btn btn-primary" disabled={{disableConfirm}} {{action "redirectConfirm" activeGoodsNumber}}>Confirm</button>
    <button class="btn" {{action (mut showRedirectConfirm) (not showRedirectConfirm)}}>Cancel</button>
  {{/d.footer}}
{{/common-dialog}}
{{/if}}

